#view{
    margin-right:5px; 
    margin-left:5px ; 
    width: 77.75px;
}
#update{
    margin-right:5px; 
    margin-left:5px ;
}

#delete{
    margin-right:5px; 
    margin-left:5px ;
    width: 77.75px;
}