.navbar{
    background-color: rgb(0, 0, 0);
}
h1{
    color: white;
    background-color:black;
    margin: 0px 0px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
}
a{
    font-weight: 300;
}
